# {{ ansible_managed }}
DATABASE_CLIENT=postgres
DATABASE_HOST={{ blog_db_host }}
DATABASE_PORT={{ blog_db_port }}
DATABASE_NAME={{ blog_db_name }}
DATABASE_USERNAME={{ blog_db_user }}
DATABASE_PASSWORD={{ blog_db_password }}
