# {{ ansible_managed }}
yc_service_account_key = {{ vault_yc_service_account_key | to_json }}
yc_cloud_id            = "{{ yc_cloud_id }}"
yc_folder_id           = "{{ yc_folder_id }}"
yc_zone                = "{{ yc_zone }}"

admin_ssh_key = "{{ admin_ssh_key }}"
db_password   = "{{ db_password }}"

datadog_api_key = "{{ datadog_api_key }}"
datadog_app_key = "{{ datadog_app_key }}"
datadog_api_url = "https://api.{{ datadog_site }}/"
