# {{ ansible_managed }}
yc_service_account_key = {{ vault_yc_service_account_key | to_json }}
yc_cloud_id            = "{{ yc_cloud_id }}"
yc_folder_id           = "{{ yc_folder_id }}"
yc_zone                = "{{ yc_zone }}"
